@use '../abstracts' as a;
@use '../base' as b;


header{
    background: var(--black-color);
    color: var(--white-color);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end; 
    .container{
        padding: 0 64px 64px;
        .text{
            color: white;
            font-size: clamp(24px, 3.5vw, 35px);
            letter-spacing: 0px;
            white-space: pre-line;
            line-height: 1.29;
            padding-bottom: 50px;
        }
        .logo{
            
            width: 100%; 
            img{
                max-width: 100%; /* Το SVG θα προσαρμοστεί στο πλάτος του container του */
                height: auto;
            }
        }
    }
    
}

