@use '../abstracts' as a;
@use '../base' as b;


header{
    background: var(--black-color);
    color: var(--white-color);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .text{
        color: white;
        font-size: 35px;
        letter-spacing: 0px;
    }
}

