@use '../abstracts' as a;

.services{
    &__title{
        text-transform: uppercase;
        h3{
            
        }
    }
}


.container{
    padding: 0 64px 64px;
}

.work{
    .listprojects{
        padding: 0 100px;
        ul{
            li{
                a{
                    figure{
                        img{
                            border-radius: 30px;
                            width: 100%;
                            height: auto;
                        }
                        figcaption{
                            font-size: 35px;
                        }
                    }
                }
                ul{
                    display: flex;
                    gap: 38px;
                    li{
                        
                    }
                }
            }
        }
    }
}