@use '../abstracts' as a;

footer{
    position: relative;
    z-index: 1; /* Ίδιο z-index με το header */
    background: var(--black-color);
    color: var(--white-color);
    padding: 20px 64px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .letsstart{
        font-size: clamp(3rem, 17vw + 1rem, 20rem);
        font-weight: 300;
        line-height: .8;
        text-transform: uppercase;
        text-align: center;
    }
    .footercontacts{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        font-size: clamp(12px, 2vw + 0.5rem, 20px);
        font-weight: 300;
        ul{
            text-align: left;
            &:last-child{
                list-style: disc;
            }
            li{
                a{
                    color: var(--white-color);
                }
            }
        }
    }
}