@use 'breakpoints' as b;

// Generic Grid Mixin
@mixin grid($columns: 12, $gap: 1rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
  }
  
  // Responsive Grid Mixin
  @mixin grid-responsive($columns-lg: 4, $columns-md: 2, $columns-sm: 1, $gap: 1rem) {
    display: grid;
    grid-template-columns: repeat($columns-lg, 1fr);
    gap: $gap;
  
    @include b.breakpoint-down(large) {
      grid-template-columns: repeat($columns-md, 1fr);
    }
  
    @include b.breakpoint-down(md) {
      grid-template-columns: repeat($columns-sm, 1fr);
    }
}