html{
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

*, *::before , *::after{
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
} 


body{
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    font-size: var(--fs-400);
    font-style: normal;
}

main{
    background: var(--white-color);
}

// .wrapper{
//     margin: 0 auto;
//     padding: 0 3%;
//     max-width: 1600px;
//     width: 100%;
// }