:root{
    --background-color: hsl(221, 100%, 9%); //000f30 //#000e2e 
    --white-color: hsl(0, 0%, 100%);
    --linktext-color: hsl(221, 100%, 9%);
    --bgmain-color: hsl(0, 0%, 96%);
    --bluelight-color: hsl(170, 48%, 50%); //#44bda9
    --grey--color: hsl(0, 0%, 96%); //#F5F5F5
}